a. far inserire all'utente due valori interi

In [63]:
x = int(input("Inserire primo valore intero "))
y = int(input("Inserire secondo valore intero "))

Inserire primo valore intero 10
Inserire secondo valore intero 3

b. effettuare le 4 operazioni aritmetiche tra i due numeri

In [64]:

print("Som: " + str(x + y))
print("Sot: " + str(x - y))
print("Mol: " + str(x * y))
print("Div: " + str(x + y))

Som: 13
Sot: 7
Mol: 30
Div: 13

c. effettuare l'elevamento a potenza del primo numero per il secondo

In [65]:
pow(x, y)

1000

d. effettuare il calcolo del resto della divisione tra il primo e il secondo numero

In [66]:
x % y

1

f. effettuare la divisione intera tra il primo e il secondo numero

In [67]:
x // y

3

g. incrementare di una unità entrambi i numeri

In [68]:
x = x + 1
y = y + 1
print("Primo valore + 1 = ", x,)
print("Secondo valore + 1 = ", y,)

Primo valore + 1 =  11
Secondo valore + 1 =  4

h. far inserie all'utente due valori: il primo rappresenta la sua altezza (in metri) e il secondo rappresenta il suo peso (in kg). Visualizzare poi l'IMC (google it...)

In [91]:
altezza = int(input("Inserire propria altezza "))
peso = int(input("Inserire proprio peso "))
IMC = peso/pow(altezza/100, 2)
print(IMC)

Inserire propria altezza 180
Inserire proprio peso 78
24.074074074074073

i. arrotondare l'IMC precedente

In [92]:
print(round(IMC))

24

j. visualizzare il proprio nome, cognome, data di nascita e città di nascita separando le informazioni con un trattino.

In [93]:
print("Alessandro-" "Tag-" "25/10/2005-""Milano")

Alessandro-Tag-25/10/2005-Milano

k. visualizzare le stesse informazioni per 10 volte di seguito

In [94]:
print("Alessandro-" "Tag-" "25/10/2005-""Milano" * 10)

Alessandro-Tag-25/10/2005-MilanoAlessandro-Tag-25/10/2005-MilanoAlessandro-Tag-25/10/2005-MilanoAlessandro-Tag-25/10/2005-MilanoAlessandro-Tag-25/10/2005-MilanoAlessandro-Tag-25/10/2005-MilanoAlessandro-Tag-25/10/2005-MilanoAlessandro-Tag-25/10/2005-MilanoAlessandro-Tag-25/10/2005-MilanoAlessandro-Tag-25/10/2005-Milano

l. assegnare il proprio nome e cognome ad una stringa e visualizzarla con tutte le lettere maiuscole

In [96]:
Nome = "Alessandro"
Cognome = "Tag"
print(Nome.upper )

<built-in method upper of str object at 0x7f8f878b3b30>