a. far inserire all'utente due valori interi

In [ ]:
x = int(input("Inserire primo valore intero "))
y = int(input("Inserire secondo valore intero "))

Inserire primo valore intero 10
Inserire secondo valore intero 3

b. effettuare le 4 operazioni aritmetiche tra i due numeri

In [ ]:

print("Som: " + str(x + y))
print("Sot: " + str(x - y))
print("Mol: " + str(x * y))
print("Div: " + str(x / y))

Som: 13
Sot: 7
Mol: 30
Div: 3.3333333333333335

c. effettuare l'elevamento a potenza del primo numero per il secondo

In [ ]:
pow(x, y)

1000

d. effettuare il calcolo del resto della divisione tra il primo e il secondo numero

In [ ]:
x % y

1

f. effettuare la divisione intera tra il primo e il secondo numero

In [ ]:
x // y

3

g. incrementare di una unità entrambi i numeri

In [ ]:
x = x + 1
y = y + 1
print("Primo valore + 1 = ", x,)
print("Secondo valore + 1 = ", y,)

Primo valore + 1 =  11
Secondo valore + 1 =  4

h. far inserie all'utente due valori: il primo rappresenta la sua altezza (in metri) e il secondo rappresenta il suo peso (in kg). Visualizzare poi l'IMC (google it...)

In [ ]:
altezza = int(input("Inserire propria altezza "))
peso = int(input("Inserire proprio peso "))
IMC = peso/pow(altezza/100, 2)
print(IMC)

Inserire propria altezza 180
Inserire proprio peso 76
23.456790123456788

i. arrotondare l'IMC precedente

In [ ]:
print(round(IMC))

23

j. visualizzare il proprio nome, cognome, data di nascita e città di nascita separando le informazioni con un trattino.

In [ ]:
print("Alessandro-" "Tag-" "25/10/2005-""Milano")

Alessandro-Tag-25/10/2005-Milano

k. visualizzare le stesse informazioni per 10 volte di seguito

In [ ]:
print("Alessandro-" "Tag-" "25/10/2005-""Milano\n" * 10)

Alessandro-Tag-25/10/2005-Milano
Alessandro-Tag-25/10/2005-Milano
Alessandro-Tag-25/10/2005-Milano
Alessandro-Tag-25/10/2005-Milano
Alessandro-Tag-25/10/2005-Milano
Alessandro-Tag-25/10/2005-Milano
Alessandro-Tag-25/10/2005-Milano
Alessandro-Tag-25/10/2005-Milano
Alessandro-Tag-25/10/2005-Milano
Alessandro-Tag-25/10/2005-Milano

l. assegnare il proprio nome e cognome ad una stringa e visualizzarla con tutte le lettere maiuscole

In [ ]:
nome = "alessandro"
cognome = "tag"
print(nome.upper())
print(cognome.upper())

ALESSANDRO
TAG

m. assegnare il proprio nome e cognome ad una stringa e visualizzarla con le prime lettere maiuscole

In [ ]:
nome = "alessandro"
cognome = "tag"
print(nome.title())
print(cognome.title())

Alessandro
Tag

n. assegnare il proprio nome e cognome ad una stringa e visualizzarne la lunghezza

In [ ]:
nome = "alessandro"
cognome = "tag"
print("La lunghezza di '%s' è"%nome,len(nome),"lettere")
print("La lunghezza di '%s' è"%cognome,len(cognome),"lettere")

La lunghezza di 'alessandro' è 10 lettere
La lunghezza di 'tag' è 3 lettere

o. assegnare il proprio nome e cognome ad una stringa e contate quante vocali contiene

In [ ]:
nome = "alessandro"
cognome = "tag"
print ( "le vocali all'interno di", nome, "sono: " , nome.count ("a",))

le vocali all'interno di alessandro sono:  2

p. assegnare il proprio nome e cognome ad una stringa e visualizzare i primi 5 caratteri

In [ ]:
nome = "alessandro"
cognome = "tag"
print ( "Le prime 5 lettere del nome: " , nome [ :5 ] ) 
print ( "Le prime 5 lettere del cognome: " , cognome [ :5 ] )

Le prime 5 lettere del nome:  aless
Le prime 5 lettere del cognome:  tag

q. assegnare il proprio nome e cognome ad una stringa e visualizzare gli ultimi 5 caratteri

In [ ]:
nome = "alessandro"
cognome = "tag"
print ( "Ultime cinque lettere del nome: " , nome [ - 5 : ] )
print ( "Ultime cinque lettere del cognome: " , cognome [ - 5 : ] )

Ultime cinque lettere del nome:  andro
Ultime cinque lettere del cognome:  tag

r.. assegnare il proprio nome e cognome ad una stringa e visualizzare i 5 caratteri centrali

In [ ]:
nome = "alessandro"
cognome = "tag"
print ( "Le 5 lettere centrali del nome: " , nome [ 2:7 ] ) 
print ( "Le 5 lettere centrali del cognome: " , cognome [ 0:3 ] )

Le 5 lettere centrali del nome:  essan
Le 5 lettere centrali del cognome:  tag