In [ ]:
import pandas as pd

In [ ]:
url = "https://raw.githubusercontent.com/italia/covid19-opendata-vaccini/master/dati/anagrafica-vaccini-summary-latest.csv"

df = pd.read_csv(url)
df

  fascia_anagrafica    totale  ...  dose_booster  ultimo_aggiornamento
0             12-19   6308804  ...           312            2021-11-02
1             20-29   9952887  ...         32993            2021-11-02
2             30-39  10635031  ...         50904            2021-11-02
3             40-49  13841099  ...         65447            2021-11-02
4             50-59  15894534  ...         93265            2021-11-02
5             60-69  12936179  ...        121178            2021-11-02
6             70-79  10890264  ...         88528            2021-11-02
7             80-89   7696231  ...        730976            2021-11-02
8               90+   1749934  ...        156562            2021-11-02

[9 rows x 10 columns]

Visualizzare il numero di vaccinati nella fascia di et√† 12-19

In [ ]:
df.loc[df["fascia_anagrafica"] == "12-19"]

  fascia_anagrafica   totale  ...  dose_booster  ultimo_aggiornamento
0             12-19  6308804  ...           312            2021-11-02

[1 rows x 10 columns]

Visualizzare numero vaccinati maschi e femmine

In [ ]:
df.loc[df["fascia_anagrafica"] == "12-19", ["sesso_maschile", "sesso_femminile"]]

   sesso_maschile  sesso_femminile
0         3231225          3077579

Fascie d'eta con pi√π di 10 milioni di vaccinazioni

In [ ]:
df.loc[df["totale"] >= 10000000, "fascia_anagrafica"]

2    30-39
3    40-49
4    50-59
5    60-69
6    70-79
Name: fascia_anagrafica, dtype: object

Fascie d'et√† dove son stati vaccinati tra i 10 e i 20 milioni

In [ ]:
df.loc[(df["totale"] < 20000000) & (df["totale"] > 10000000), "fascia_anagrafica"]

2    30-39
3    40-49
4    50-59
5    60-69
6    70-79
Name: fascia_anagrafica, dtype: object

Aggiungere una colonna percentuale sesso maschile dove inserire la percentuale di maschi vaccinati sul totale.

In [ ]:
df["%_sesso_maschile"] = round(df['sesso_maschile'] *100 / df['totale'], 3)
df

  fascia_anagrafica    totale  ...  ultimo_aggiornamento  %_sesso_maschile
0             12-19   6308804  ...            2021-11-02            51.218
1             20-29   9952887  ...            2021-11-02            52.305
2             30-39  10635031  ...            2021-11-02            51.355
3             40-49  13841099  ...            2021-11-02            49.640
4             50-59  15894534  ...            2021-11-02            49.065
5             60-69  12936179  ...            2021-11-02            48.546
6             70-79  10890264  ...            2021-11-02            47.003
7             80-89   7696231  ...            2021-11-02            41.795
8               90+   1749934  ...            2021-11-02            29.950

[9 rows x 11 columns]

Fare la stessa cosa per le femmine.

In [ ]:
df["%_sesso_femminile"] = round(df['sesso_femminile'] *100 / df['totale'], 3)
df

  fascia_anagrafica    totale  ...  %_sesso_maschile  %_sesso_femminile
0             12-19   6308804  ...            51.218             48.782
1             20-29   9952887  ...            52.305             47.695
2             30-39  10635031  ...            51.355             48.645
3             40-49  13841099  ...            49.640             50.360
4             50-59  15894534  ...            49.065             50.935
5             60-69  12936179  ...            48.546             51.454
6             70-79  10890264  ...            47.003             52.997
7             80-89   7696231  ...            41.795             58.205
8               90+   1749934  ...            29.950             70.050

[9 rows x 12 columns]

Visualizzare le fasce d'et√† in cui la percentuale di maschi vaccinati √® maggiore di fermmine vaccinate.

In [ ]:
df.loc[df["%_sesso_maschile"] > df["%_sesso_femminile"], "fascia_anagrafica"]

0    12-19
1    20-29
2    30-39
Name: fascia_anagrafica, dtype: object

Visualizzare le fasce d'et√† dove la dose aggiuntiva √® minore della dose booster.

In [ ]:
df.loc[df["dose_aggiuntiva"] < df["dose_booster"], "fascia_anagrafica"]

1    20-29
2    30-39
3    40-49
4    50-59
5    60-69
6    70-79
7    80-89
8      90+
Name: fascia_anagrafica, dtype: object

Sostituire al valore 90+ il valore 90-120

Creare un nuovo dataframe contenente le prime 10 fasce anagrafiche.

In [ ]:
df2 = df.loc[:10,["fascia_anagrafica"]]
df2

  fascia_anagrafica
0             12-19
1             20-29
2             30-39
3             40-49
4             50-59
5             60-69
6             70-79
7             80-89
8               90+

Creare un nuovo dataframe contenente la fascia anagrafica e la prima e seconda dose.

In [ ]:
df3 = df.loc[:,["fascia_anagrafica", "prima_dose", "seconda_dose"]]
df3

  fascia_anagrafica  prima_dose  seconda_dose
0             12-19     3238001       2964416
1             20-29     5087800       4627853
2             30-39     5430456       4938503
3             40-49     7004775       6464458
4             50-59     8034933       7373699
5             60-69     6543748       5963662
6             70-79     5397350       5166146
7             80-89     3454146       3391935
8               90+      797864        769471

Eliminare dal dataframe i dati relativi alle persone tra 40-69 anni.

In [ ]:
df = df.drop(3)
df = df.drop(4)
df = df.drop(5)
df

  fascia_anagrafica    totale  ...  %_sesso_maschile  %_sesso_femminile
0             12-19   6308804  ...            51.218             48.782
1             20-29   9952887  ...            52.305             47.695
2             30-39  10635031  ...            51.355             48.645
6             70-79  10890264  ...            47.003             52.997
7             80-89   7696231  ...            41.795             58.205
8               90+   1749934  ...            29.950             70.050

[6 rows x 12 columns]

Eliminare dal datframe le colonne sesso maschile e sesso femminile.

In [ ]:
df = df.drop(columns = ["sesso_maschile", "sesso_femminile"])
df

  fascia_anagrafica    totale  ...  %_sesso_maschile  %_sesso_femminile
0             12-19   6308804  ...            51.218             48.782
1             20-29   9952887  ...            52.305             47.695
2             30-39  10635031  ...            51.355             48.645
6             70-79  10890264  ...            47.003             52.997
7             80-89   7696231  ...            41.795             58.205
8               90+   1749934  ...            29.950             70.050

[6 rows x 10 columns]